<!DOCTYPE html>

<html>
<head>
<title>Albums</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="static/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('static/images/demo/backgrounds/01.png');">
  <div class="wrapper">
    <div id="pageintro" class="hoc clear">
      <article>
      </article>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="#">Home</a></li>
          <li><a class="drop" href="#">Visit</a>
            <ul>
              <li><a href="pages/gallery.html">Greatest Hits</a></li>
              <li><a href="pages/full-width.html">Followers</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Artists</a>
            <ul>
              <li><a href="#">Justin Bieber</a></li>
              <li><a href="#">Charlie Puth</a></li>
              <li><a href="#">Devansh Manu</a></li>
              <li><a href="#">Hailee Stenfield</a></li>
              <li><a href="#">Enrique</a></li>
              <li><a href="#">Bruno Mars</a></li>
              <li><a href="#">Shawn Mendes</a></li>
              <li><a href="#">Akon</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="btmspace-50 center">
      <h3 class="btmspace-10">ALBUMS</h3>
      </div>
    <ul class="nospace clear services">
      <li class="one_quarter first"><a href="/BlackPanther">
        <figure><img src="static/images/demo/gallery/bpanther.png" alt="">
          <figcaption>Black Panther</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="#">
        <figure><img src="static/images/demo/gallery/repo.png" alt="">
          <figcaption>Reputation</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="#">
        <figure><img src="static/images/demo/gallery/revival.png" alt="">
          <figcaption>Revival</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="#">
        <figure><img src="static/images/demo/gallery/timber.png" alt="">
          <figcaption>Man Of Woods</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter first"><a href="#">
        <figure><img src="static/images/demo/gallery/summer.png" alt="">
          <figcaption>Sounds Good Feels Good</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="/CTRL">
        <figure><img src="static/images/demo/gallery/sza.png" alt="">
          <figcaption>CTRL</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="/Damn">
        <figure><img src="static/images/demo/gallery/lamar.png" alt="">
          <figcaption>Damn</figcaption>
        </figure>
        </a></li>
      <li class="one_quarter"><a href="#">
        <figure><img src="static/images/demo/gallery/camilla.png" alt="">
          <figcaption>Camila</figcaption>
        </figure>
        </a></li>
    </ul>
    <p class="center"><a class="btn inverse" href="./">Start Searching For Trending Songs</a></p>
    <div class="clear"></div>
  </main>
</div>

<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="layout/scripts/gmaps.js"></script>
</body>
</html>
