<!DOCTYPE html>
<html>
  <head>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="static/assets/ico/favicon.png">

    <title>My_Muisc</title>

    <!-- Bootstrap core CSS -->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/assets/css/soon.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

  </head>
  <!-- START BODY -->
  <body class="nomobile">

    <!-- START HEADER -->
    <section id="header">
        <div class="container">
            <header>
                <!-- HEADLINE -->
                <h1 data-animated="GoIn"><b>MY_MUSIC </b>built by Akhil & Faizan</h1>
            </header>
            <!-- START TIMER -->
            <div id="timer" data-animated="FadeIn">
              <div class="closing">
                <p><span class="purple">If you have any message,feel free to contact:</span></p>
                  <a href="https://www.facebook.com/profile.php?id=100020666194732" target="_blank"><img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="fb"></a>
                <a href="https://github.com/akki111singh" target="_blank"><img src="https://assets-cdn.github.com/images/modules/open_graph/github-mark.png" alt="github"></a>
                <a href="https://www.instagram.com/akhil111rajput/" target="_blank"><img src="https://lh3.googleusercontent.com/aYbdIM1abwyVSUZLDKoE0CDZGRhlkpsaPOg9tNnBktUQYsXflwknnOn2Ge1Yr7rImGk=w300" alt="insta"></a>
             </div>
            </div>
            <h1>Feel free to contact us</h1>
        </div>
        <!-- LAYER OVER THE SLIDER TO MAKE THE WHITE TEXTE READABLE -->
        <div id="layer"></div>
        <!-- END LAYER -->
        <!-- START SLIDER -->
        <div id="slider" class="rev_slider">
            <ul>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="static/assets/img/slider/1.jpg">
                <img src="static/assets/img/slider/1.jpg">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="static/assets/img/slider/2.jpg">
                <img src="static/assets/img/slider/2.jpg">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="static/assets/img/slider/3.jpg">
                <img src="static/assets/img/slider/3.jpg">
              </li>
              <li data-transition="slideleft" data-slotamount="1" data-thumb="static/assets/img/slider/4.jpg">
                <img src="static/assets/img/slider/4.jpg">
              </li>
            </ul>
        </div>
        <!-- END SLIDER -->
    </section>
    <!-- END HEADER -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="static/assets/js/modernizr.custom.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script src="static/assets/js/soon/plugins.js"></script>
    <script src="static/assets/js/soon/jquery.themepunch.revolution.min.js"></script>
    <script src="static/assets/js/soon/custom.js"></script>
  </body>
  <!-- END BODY -->
</html>
